.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 74, 129, 0.6);
  z-index: 1000;
  top: 0;
  left: 0; }
  .modal-wrapper .modal {
    background-color: white;
    position: relative;
    padding: 80px 60px 70px 60px;
    box-sizing: border-box;
    width: 40%; }
    @media screen and (max-width: 760px) {
      .modal-wrapper .modal {
        padding: 20px;
        width: 50%; } }
    .modal-wrapper .modal__close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer; }
    .modal-wrapper .modal__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      font-weight: normal; }
      @media screen and (max-width: 760px) {
        .modal-wrapper .modal__form {
          align-items: flex-start;
          justify-content: center; } }
      .modal-wrapper .modal__form-field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px; }
        @media screen and (max-width: 760px) {
          .modal-wrapper .modal__form-field {
            width: 96%; } }
        .modal-wrapper .modal__form-field-name {
          font-size: 18px;
          color: #324450;
          margin-bottom: 18px; }
        .modal-wrapper .modal__form-field-inp {
          width: 100%;
          border: 1px solid #C8C8C8;
          outline: none;
          padding-left: 20px;
          color: #c8c8c8;
          height: 40px; }
          @media screen and (max-width: 760px) {
            .modal-wrapper .modal__form-field-inp {
              width: 98%; } }
      .modal-wrapper .modal__form-submit {
        text-transform: uppercase;
        background-color: #ff464e;
        font-size: 12px;
        color: white;
        padding: 10px 25px;
        font-weight: bold;
        border: none;
        outline: none;
        margin-top: 10px;
        cursor: pointer; }
