h1 {
  color: white !important;
  font-weight: bold;
  font-size: 3rem;
  user-select: none; }
  @media screen and (max-width: 760px) {
    h1 {
      font-size: 2rem; } }

* {
  margin: 0;
  padding: 0; }

#header {
  height: 80px;
  position: fixed;
  width: 100%; }

#navigation {
  background: brown;
  height: 40px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 40px;
  position: relative; }

#navigation ul {
  width: 1180px;
  padding-left: 0;
  margin: 0 auto;
  display: block; }
  @media screen and (max-width: 760px) {
    #navigation ul {
      width: 100%; } }

#menu li {
  float: left;
  list-style: none;
  padding: 0 25px;
  border-right: 1px solid #d60000; }

#menu a {
  color: #fff;
  text-decoration: none;
  font-family: Verdana; }

#menu > li a:hover {
  color: #656565;
  transition: color 0.5s ease; }

.aboutCompany {
  background: url(../img/photo.png);
  width: 100%;
  height: 690px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 1px 400px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 992px) {
    .aboutCompany {
      height: 400px; } }
  .aboutCompany__text {
    width: 70%;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; }
    @media screen and (max-width: 760px) {
      .aboutCompany__text {
        font-size: 16px; } }

.contact {
  height: 100px;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(-90deg, #999, #333); }
  @media screen and (max-width: 760px) {
    .contact {
      flex-direction: column;
      justify-content: center;
      padding: 10px 50px; } }
  .contact__text {
    width: 70%;
    color: #f1e0cb;
    font-size: 21px; }
    @media screen and (max-width: 760px) {
      .contact__text {
        width: 100%;
        font-size: 19px; } }
  .contact__button {
    width: calc(30% - 50px);
    height: 60px;
    background-color: #e66e0d;
    border: 5px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px #f08715;
    background-clip: padding-box;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 0px 1px #d72d05;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    text-decoration: none; }
    @media screen and (max-width: 760px) {
      .contact__button {
        width: calc(80% - 50px);
        margin-top: 10px; } }
  .contact__button:hover {
    background-color: #e66e0d;
    text-decoration: none;
    text-shadow: 0px -1px #a70d00;
    border: 5px solid rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 2px #c14d00;
    transition: all 0.2s ease-in-out;
    cursor: pointer; }

.developers {
  width: 100%;
  height: 600px;
  background: url("../img/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 1px 400px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 760px) {
    .developers {
      height: 300px; } }
  .developers .userscards {
    width: 70%;
    height: 300px;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    margin-top: 50px; }
    @media screen and (max-width: 760px) {
      .developers .userscards {
        margin-top: 10px;
        width: 80%;
        height: 200px;
        margin: 0; } }
    .developers .userscards .user {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      display: block;
      justify-content: center;
      align-items: center;
      margin: 5px;
      background-color: #212529; }
      @media screen and (max-width: 760px) {
        .developers .userscards .user {
          height: 100%; } }
      .developers .userscards .user__logo {
        width: 178px;
        height: 178px; }
        @media screen and (max-width: 760px) {
          .developers .userscards .user__logo {
            width: 110px;
            height: 110px; } }
      .developers .userscards .user__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40%;
        width: 100%; }
        @media screen and (max-width: 760px) {
          .developers .userscards .user__info {
            height: 30%; } }
        .developers .userscards .user__info-name {
          font-weight: bold;
          font-size: 22px;
          justify-content: center;
          align-items: center;
          padding: 5px 0;
          color: #c7b299; }
          @media screen and (max-width: 760px) {
            .developers .userscards .user__info-name {
              font-size: 16px; } }
        .developers .userscards .user__info-age {
          color: gray;
          justify-content: center;
          align-items: center;
          padding: 5px 0;
          font-size: 16px; }
          @media screen and (max-width: 760px) {
            .developers .userscards .user__info-age {
              font-size: 12px; } }
    .developers .userscards .user:hover {
      cursor: pointer;
      background-color: white;
      border: 1px solid #736357;
      transition: 0.5s; }
      .developers .userscards .user:hover .user__logo {
        box-shadow: inset 0 0 1px 400px rgba(0, 0, 0, 0.3); }
      .developers .userscards .user:hover .user__info .user__info-name {
        color: brown;
        transition: 0.5s; }
      .developers .userscards .user:hover .user__info .user__info-age {
        color: black;
        transition: 0.5s; }

.footer {
  background-color: #111111;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px; }
  @media screen and (max-width: 760px) {
    .footer {
      height: 80px;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .footer__text {
    color: #555555;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s; }
    @media screen and (max-width: 760px) {
      .footer__text {
        font-size: 16px;
        margin: 5px 0; } }
  .footer__text:hover {
    color: #c7b299;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    transition: 0.5s; }
